* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.up {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 4rem;
  border-bottom: 1px solid #00cbbf;
  padding: 1rem 3rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  padding: 0.5rem;
  width: 180px;
  height: auto;
}

.menu_button {
  position: absolute;
  top: 50;
  z-index: 100000;
  right: 0;
  padding-right: 1rem;
}
.register_button {
  width: 9.5rem;
  padding: 1rem 0.5rem;
  border-radius: 1.125rem;
  background: #007f77;
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  visibility: hidden;
  display: none;
}

main {
  min-width: 300px;
  max-width: 700px;
  padding: 0 3rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.year {
  color: #0d2e40;
  text-align: center;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}
.month {
  color: #0d2e40;
  text-align: center;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.meet {
  color: #01377d;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
}
.registration {
  color: #00a69c;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (min-width: 35rem) {
  header {
    height: 5rem;
    justify-content: space-between;
  }
  .menu_button {
    display: none;
  }

  .register_button {
    display: inline;
    visibility: visible;
  }
  main {
    margin-top: 3.5rem;
  }
}

@media only screen and (min-width: 64rem) {
}
